.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 300px;
  height: 100vh;
  background-color: #4B34AA;
  border-right: 1px solid #fff;
  .sidebar-top{
    border-bottom: 1px solid #fff;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #fff;
    .logo{
      font-size: 20px;
    }
  }
  .sidebar-list{
    padding-inline-start: 0;
    list-style: none;
    text-align: left;
    padding: 20px;
    overflow: auto;
    max-height: calc(100vh - 60px);
    li{
      button{
          width: 100%;
          border: none;
          position: relative;
        background-color: rgba(255,255,255,0.1);
        color: #999!important;
        &:hover{
          background-color: rgba(255,255,255,0.1)!important;
          box-shadow: none!important;
        }
        &:before{
          content: 'Заблокировано';
          position: absolute;
          top: -2px;
          right: 0;
          font-size: 14px;
          border-radius: 2px;
          padding: 3px 10px;
          background-color: red;
          color: #fff;
        }
      }
      a, button{
        padding: 0 15px;
        height: 50px;
        line-height: 1.2;
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
        text-decoration: none;
        border-radius: 6px;
        margin-bottom: 10px;
        transition: 0.15s all ease;
        .fa-circle-exclamation{
          font-size: 20px;
        }
        &.router-link-active{
          background-color: #5450D6;
          box-shadow: 0px 4px 15px rgba(38, 7, 103, 0.25);
        }
        i{
          margin-right: 10px;
          width: 35px;
          height: 35px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
        }
        &:hover{
          background-color: #5450D6;
          box-shadow: 0px 4px 15px rgba(38, 7, 103, 0.25);
        }
      }
    }
  }
}